body {
  background-image: url("images/tile.png");
  background-repeat: repeat;
}

.banner-text {
  font-size: 10rem;
}

.banner-subtext{
  font-size: 2rem;
  letter-spacing: .125rem;
  /*position: relative;*/
}

.banner-header{
  position: relative;
  margin: 0 auto;
  background-image: url("images/tile.png") repeat;
}

.banner-dan{
  width: auto;
  height:25rem;
}

.devil-dan{
  width: auto;
  height: 8rem;
  position: absolute;
  top: 5rem;
  left: -3rem;

}

.angel-dan{
  width: auto;
  height: 8rem;
  position: absolute;
  top: 4.5rem;
  right: -2rem;

}

.section {
  height: 80vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-header {
  margin: 0 auto;

}

.section-text{
  margin: 0 auto;
}

.video{
  margin: 0 auto;
  border-radius: 5px;
}


.footer{
  background-color: black;
  height: 10vh;
  color: white;
  display: flex;
  width: 100%;
}

.footer-text{
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
