body {
  background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.banner-text {
  font-size: 10rem;
}

.banner-subtext{
  font-size: 2rem;
  letter-spacing: .125rem;
  /*position: relative;*/
}

.banner-header{
  position: relative;
  margin: 0 auto;
}

.banner-dan{
  width: auto;
  height:30rem;
}

.devil-dan{
  width: auto;
  height: 5rem;
  position: absolute;
  top: 5rem;
  left: -3rem;

}

.angel-dan{
  width: auto;
  height: 5rem;
  position: absolute;
  top: 4.5rem;
  right: -2rem;

}

.section {
  height: 80vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-header {
  margin: 0 auto;

}

.section-text{
  margin: 0 auto;
}


.footer{
  background-color: black;
  height: 10vh;
  color: white;
  display: flex;
  width: 100%;
}

.footer-text{
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
